<br><br><br>
<div class="container" style="max-width: 1200px;">
    <div class="row">
        <div class="row row-cols-3 row-cols-md-4">
            <div class="col-md-4">
                <div class="card mb-3" style="border: 4px solid #EEE;">
                    <div class="card-body">
                        <br>
                        <h5 class="card-title text-center"> <strong>Présentation </strong></h5>
                        <br><br>
                        <p class="card-text"> La Caisse Marocaine des Retraites prend en charge le volet concernant la gestion des dossiers pour les enfants et orphelins infirmes en déclarant l'infirmité et suivre le dossier. </p>
                        <br>
                        <div class="d-flex justify-content-center">
                            <a class="text-decoration-none" href="" style="color: #90C5E2;"> Voir plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3" style="border: 4px solid #EEE;">
                    <div class="card-body">
                        <br>
                        <h5 class="card-title text-center"> <strong>Objectif</strong>   </h5>
                        <br><br>
                        <p class="card-text"> Cet établissement public reçoit l'inscription, le changement de la situation, le rétablissement de droit et la révision de droit pour un enfant ou un orphelin infirme. </p>
                        <br>
                        <div class="d-flex justify-content-center">
                            <a class="text-decoration-none" href="" style="color: #90C5E2;"> Voir plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3" style="border: 4px solid #EEE;">
                    <div class="card-body">
                        <br>
                        <h5 class="card-title text-center">  <strong>Gestion des retraites</strong>  </h5>
                        <br><br>
                        <p class="card-text"> Les bénéficiaires au titre des régimes gérés par la CMR : <br>
                            - Régime des pensions civiles et militaires qui s'applique aux enfants ou orphelins infirmes. </p>
                        <br>
                            <div class="d-flex justify-content-center">
                            <a class="text-decoration-none" href="" style="color: #90C5E2;"> Voir plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>