<br><br>
<div class="container" style="max-width: 1250px;">
    <div class="row">
        <div class="row row-cols-3 row-cols-md-4">
            <div class="col-md-3">
                <br><br><br><br><br>
                <div class="card mb-3" style="border: 4px solid #EEE;">
                    <div class="card-body">
                        <br>
                        <h5 class="card-title text-center"> Pour accéder à votre compte </h5>
                        <div class="card-body text-center">
                            <a class="btn" style="background-color:  #AFDBF2;" href="suivit">Se Connecter</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                        <br><br>
                        <h4 class="card-title text-center"> <strong> Téléchargement des formulaires </strong></h4>
                            <br><br>
                            <div class="container" style="max-width: 1000px;">
                                <div class="row">
                                    <div class="col">

                                        <table class="table border border-4">
                                            <thead rounded>
                                            <tr class="list-group-item-secondary">
                                                <th scope="col">Intitulé</th>
                                                <th scope="col">Télécharger</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td> Formulaire d’inscription de l’infirme </td>
                                                <td>
                                                    <a href="">PDF</a> /
                                                    <a href="">Document</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> Les différents droits d’un infirme </td>
                                                <td>
                                                    <a href="">PDF</a> /
                                                    <a href="">Document</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> Procédure complète à suivre </td>
                                                <td>
                                                    <a href="">PDF</a> /
                                                    <a href="">Document</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> Les différentes pension du CMR</td>
                                                <td>
                                                    <a href="">PDF</a> /
                                                    <a href="">Document</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <br>
                    
            </div>
            <div class="col-md-3">
                <br>
                <div class="card mb-3" style="border: 4px solid #EEE;">
                    <div class="card-body">
                        <br>
                        <h4 class="card-title text-center"> <strong> Sondage </strong></h4>
                        <br>
                        <p class="card-text">Que pensez vous de ce portail ?</p>
                            Satisfait &nbsp;<input type="radio" name="sondage" checked>&nbsp;&nbsp;&nbsp;&nbsp;
                            Pas satisfait &nbsp;<input type="radio" name="sondage" checked><br>
                        <br>
                        <p class="card-text">Que modifieriez-vous ? </p>
                        <textarea cols="28" rows="1" class="input" placeholder="Votre commentaire"></textarea>
                        <br><br>
                        <div class="d-flex justify-content-center">
                            <input class="btn" style="background-color:  #AFDBF2;" type="submit" value="Valider">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>